.button {
  width: 31.55%;
  margin: 10px;
  padding: 15px;
  font-size: 25px;
  background-color: #00fff3; /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
}

.button:hover {
  background-color: #00ffa0;
}