.c-button {
  min-width: 50%;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #48ff00;
  color: #000000;
  padding: 0px 46px;
  font-size: 24px;
  cursor: no-drop;
}

.c-button:hover {
  background: #00ffae;
}

.c-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #00ffae;
}
  
 .c-button {
    display: flex;
    align-items: left;
    justify-content: left;
    height: 50px;
}